[Desktop Entry]
Type=Application
Name=Looking Glass
Icon=/usr/share/pixmaps/looking-glass-client.png
Exec=/usr/bin/looking-glass-client win:size=1920x1080 -S -m KEY_F12 input:rawMouse=yes win:jitRender=yes
Categories=System
Terminal=false
Actions=Fullscreen;Borderless;NoAudio;Spectator;ClipboardOnly;NightVision;
X-Desktop-File-Install-Version=0.27

[Desktop Action Fullscreen]
Name=Fullscreen
Exec=/usr/bin/looking-glass-client -F -a -S -m KEY_F12 input:rawMouse=yes win:jitRender=yes

[Desktop Action Borderless]
Name=Borderless window
Exec=/usr/bin/looking-glass-client -d -a -S -m KEY_F12 input:rawMouse=yes win:jitRender=yes

[Desktop Action NoAudio]
Name=No audio
Exec=/usr/bin/looking-glass-client win:size=1920x1080 -S -m KEY_F12 input:rawMouse=yes win:jitRender=yes spice:audio=no

[Desktop Action Spectator]
Name=Spectator (view only)
Exec=/usr/bin/looking-glass-client win:size=1920x1080 -S -m KEY_F12 win:jitRender=yes spice:input=no

[Desktop Action ClipboardOnly]
Name=Clipboard sync only
Exec=/usr/bin/looking-glass-client win:size=480x270 -m KEY_F12 win:jitRender=yes spice:input=no

[Desktop Action NightVision]
Name=Night vision (gain 5)
Exec=/usr/bin/looking-glass-client win:size=1920x1080 -S -m KEY_F12 input:rawMouse=yes win:jitRender=yes egl:nvGain=5
